* {
  outline: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif }
  
@media only screen and (max-width: 490px) {
ul.ps-list { max-width: 100%; max-height: 200px;}
li.тақырыптар {margin-left: -98px;}
li a.адамдар, 
li a.бөлме-ғимарат-жобалар, 
li a.ғарыш-тылсым-әлем, 
li a.гүлдер,
li a.өсімдіктер {margin-left: 96px;font: 10px sans-serif;} 
li a.қалыпталған-кескіндер, 
li a.қолданыс-заттары, 
li a.жануарлар, 
li a.өнер-білім-спорт, 
li a.сән-үлгілері {margin-left: 216px;font: 10px sans-serif;}
li a.табиғат {margin-left: 330px;font: 10px sans-serif;}	
a.жануар { position: absolute; }
a.қызмет { left: -33px; bottom: 133px; }
span.ps-prevIcon { width:41px; margin-bottom: -3px; } }

@media only screen and (max-width: 1200px) {
ul.ps-list { max-width: 29%; max-height: 300px; }
.pgwSlider.wide > ul > li { max-width: 22% !important;}}  

@media only screen and (max-width: 1500px) {
ul.ps-list { max-width: 29%; max-height: 500px; }
ul.pgwSlider.wide > li,
.pgwSlider.wide > ul > li { max-width: 24% !important;} }   
  
body {  margin: 2px; }

span.ps-prevIcon {
    content: url(../suretter/atau-belgi1.svg);
    position: absolute;
    z-index:4;
    bottom: 5px;
    left: 5px; }

span.ps-prevIcon:hover {
    content: url(../suretter/atau-belgi-janu1.svg); }

.pgwSlider {
    width: 100%;
    color: rgba(0, 0, 0, 0); }

.pgwSlider .ps-current {
    float: left;
    width: 69.6%;
    overflow: hidden;
    height: inherit;
    position: relative;
    font-size: 1rem; }

.pgwSlider .ps-current li {
    width: 100%;
    z-index: 1;
    opacity: 0;
    display: none; }

.pgwSlider .ps-current img {
    max-width: 69.6%;
	min-width: 100%;
    height: auto;
    transition: margin-top 250ms linear; }

ul.ps-list {
    overflow-y: auto;
    width: 29.99%;
    padding: 3px;
    margin: 0px;
    height: 650px;
    background-color: rgba(186, 169, 13, 0.67) }

.pgwSlider .ps-current ul {
    width: 100%; }

ul.pgwSlider > li img,
.pgwSlider > ul > li img {
    width: 100%;
    min-height: 100%;
    transition: margin-top 250ms linear; }
/*
 * The media-queries are not used because IE8 doesn't support them.
 */
ul.pgwSlider.wide > li,
.pgwSlider.wide > ul > li {
    width: 24.3% !important;
    height: auto !important;
    float: left;
    margin-right: 3px; }

.pgwSlider.narrow .ps-current,
ul.pgwSlider.narrow,.pgwSlider.narrow > ul { min-width: 100%; height: 200px; }

ul.pgwSlider.narrow > li,
.pgwSlider.narrow > .ps-list > li {
    float: left;
    min-height: 50px;
    max-height: 78px;
    min-width: 20%;
    font-size: 0.7rem;
    margin-bottom: 0; }

li.тақырыптар {
 margin-top: 80px;
 margin-right: 444px;
 padding: 4px;
 color: #e3d9ba;
 list-style-type: none; }

.тақырыптар a {
 width: 114px;
 position: absolute;
 font: 10px sans-serif;
 color: #917c5a; }

.тақырыптар a:hover { color: #B8A80D; }
a.адамдар { margin: -82px 4px; }
a.бөлме-ғимарат-жобалар { margin: -72px 4px; }
a.ғарыш-тылсым-әлем {  margin: -62px 4px; }
a.гүлдер { margin: -52px 4px; }
a.өсімдіктер { margin: -42px 4px; }
a.қалыпталған-кескіндер { margin: -82px 126px; }
a.қолданыс-заттары { margin: -72px 126px; }
a.жануарлар { margin: -62px 126px; }
a.өнер-білім-спорт { margin: -52px 126px; }
a.сән-үлгілері { margin: -42px 126px; }
a.табиғат { margin: -82px 241px; }

a.үй { margin: -33px 2px; position: absolute; }
a.көлік { margin: -16px 44px; position: absolute; }
a.азық { margin: -22px 79px; position: absolute; }
a.кійім { margin: -23px 111px; position: absolute; }
a.құрылғы { margin: -23px 146px; position: absolute; }
a.құрлыс-заттары { margin: -20px 182px; position: absolute; }
a.тазарту-заттары { margin: -18px 216px; position: absolute; }
a.жихаз { margin: -24px 251px; position: absolute; }
a.оқу-құралдары { margin: -22px 286px; position: absolute; }
a.жануар { margin: -22px 320px; position: absolute; }
a.қызмет { margin: -26px 356px; position: absolute; }

a.үй:hover { content: url(../suretter/yi-janu.svg); }
a.көлік:hover { content: url(../suretter/kolik-janu.svg); }
a.азық:hover { content: url(../suretter/azyk-janu.svg); }
a.кійім:hover { content: url(../suretter/kiim-janu.svg); }
a.құрылғы:hover { content: url(../suretter/kyrylgy-janu.svg); }
a.құрлыс-заттары:hover { content: url(../suretter/kyrlys-zattary-janu.svg); }
a.тазарту-заттары:hover { content: url(../suretter/tazartu-zattary-janu.svg); }
a.жихаз:hover { content: url(../suretter/jihaz-janu.svg); }
a.оқу-құралдары:hover { content: url(../suretter/oku-kyraldary-janu.svg); }
a.жануар:hover { content: url(../suretter/januar-janu.svg); }
a.қызмет:hover { content: url(../suretter/kyzmet-janu.svg); }

p.takyryp-janu {
 color: #b8a80d;
 position: absolute;
 margin: 0;
 padding: 0;}
