* { outline: 0; padding: 0; margin: 0; text-decoration: none; font-family: sans-serif }
  
@media only screen and (max-width: 490px) {
ul.ps-list { max-width: 100%; max-height: 200px;}
li.тақырыптар {margin-left: -98px;}
li a.адамдар, 
li a.бөлме-ғимарат-жобалар, 
li a.ғарыш-тылсым-әлем, 
li a.гүлдер,
li a.өсімдіктер {margin-left: 96px;font: 10px sans-serif;} 
li a.қалыпталған-кескіндер, 
li a.қолданыс-заттары, 
li a.жануарлар, 
li a.өнер-білім-спорт, 
li a.сән-үлгілері {margin-left: 216px;font: 10px sans-serif;}
li a.табиғат {margin-left: 330px;font: 10px sans-serif;}	
a.жануар { position: absolute; }
a.қызмет { left: -33px; bottom: 139px; }
span.ps-prevIcon { width:41px; margin-bottom: -3px; } }

@media only screen and (max-width: 1200px) {
ul.ps-list { max-width: 29%; max-height: 300px; }
.pgwSlider.wide > ul > li { max-width: 22% !important;}}  

@media only screen and (max-width: 1500px) {
ul.ps-list { max-width: 29%; max-height: 500px; }
ul.pgwSlider.wide > li,
.pgwSlider.wide > ul > li { max-width: 24% !important;} }   
  
body {  margin: 2px; }

span.ps-prevIcon {
    content: url(../suretter/atau-belgi1.svg);
    position: absolute;
    z-index:4;
    bottom: 5px;
    left: 5px; }

span.ps-prevIcon:hover { content: url(../suretter/atau-belgi-janu.svg); }

.pgwSlider { width: 100%; color: rgba(0, 0, 0, 0); }

.pgwSlider .ps-current {
    float: left;
    width: 69.6%;
    overflow: hidden;
    height: inherit;
    position: relative;
    font-size: 1rem; }

.pgwSlider .ps-current li {
    width: 100%;
    z-index: 1;
    opacity: 0;
    display: none; }

.pgwSlider .ps-current img {
    max-width: 69.6%;
    min-width: 100%;
    height: auto;
    transition: margin-top 250ms linear; }

ul.ps-list {
    overflow-y: auto;
    width: 29.99%;
    padding: 3px;
    margin: 0px;
    height: 650px;
    background-color: rgba(186, 169, 13, 0.67) }

.pgwSlider .ps-current ul { width: 100%; }

ul.pgwSlider > li img, .pgwSlider > ul > li img {
    width: 100%;
    min-height: 100%;
    transition: margin-top 250ms linear; }

ul.pgwSlider.wide > li,
.pgwSlider.wide > ul > li {
    width: 24.3% !important;
    height: auto !important;
    float: left;
    margin-right: 3px; }

.pgwSlider.narrow .ps-current,
ul.pgwSlider.narrow,.pgwSlider.narrow > ul { min-width: 100%; height: 200px; }

ul.pgwSlider.narrow > li,
.pgwSlider.narrow > .ps-list > li {
    float: left;
    min-height: 50px;
    max-height: 78px;
    min-width: 20%;
    font-size: 0.7rem;
    margin-bottom: 0; }

li.тақырыптар {
 margin-top: 80px;
 margin-right: 444px;
 padding: 4px;
 color: #e3d9ba;
 list-style-type: none; }

.тақырыптар a {
 width: 114px;
 position: absolute;
 font: 10px sans-serif;
 color: #917c5a; }

.тақырыптар a:hover { color: #B8A80D; }
a.адамдар { margin: -82px 4px; }
a.бөлме-ғимарат-жобалар { margin: -72px 4px; }
a.ғарыш-тылсым-әлем {  margin: -62px 4px; }
a.гүлдер { margin: -52px 4px; }
a.өсімдіктер { margin: -42px 4px; }
a.қалыпталған-кескіндер { margin: -82px 126px; }
a.қолданыс-заттары { margin: -72px 126px; }
a.жануарлар { margin: -62px 126px; }
a.өнер-білім-спорт { margin: -52px 126px; }
a.сән-үлгілері { margin: -42px 126px; }
a.табиғат { margin: -82px 241px; }

img.көрме { margin: -7px 2px; position: absolute; }
img.мүлік { margin: -10px 32px; position: absolute; }
img.көлік { margin: -5px 66px; position: absolute; }
img.азық { margin: -3px 96px; position: absolute; }
img.кійім { margin: -12px 122px; position: absolute; }
img.заттар { margin: -4px 151px; position: absolute; }
img.құрлыс { margin: -9px 198px; position: absolute; }
img.тазарту { margin: 1px 233px; position: absolute; }
img.жихаз { margin: -11px 285px; position: absolute; }
img.білім { margin: -2px 318px; position: absolute; }
img.жануар { margin: -9px 348px; position: absolute; }
img.қызмет { margin: 27px 343px; position: absolute; }

img.көрме:hover { content: url(../suretter/korme-janu.svg); }
img.мүлік:hover { content: url(../suretter/mylik-janu.svg); }
img.көлік:hover { content: url(../suretter/kolik-janu.svg); }
img.азық:hover { content: url(../suretter/azyk-janu.svg); }
img.кійім:hover { content: url(../suretter/kiim-janu.svg); }
img.заттар:hover { content: url(../suretter/zattar-janu.svg); }
img.құрлыс:hover { content: url(../suretter/kyrlys-janu.svg); }
img.тазарту:hover { content: url(../suretter/tazartu-janu.svg); }
img.жихаз:hover { content: url(../suretter/jihaz-janu.svg); }
img.білім:hover { content: url(../suretter/bilim-janu.svg); }
img.жануар:hover { content: url(../suretter/januar-janu.svg); }
img.қызмет hover { content: url(../suretter/kyzmet-janu.svg); }

p.takyryp-janu { color: #b8a80d; position: absolute; margin: 0; padding: 0;}
.dropbtn { background-color: #4CAF50; color: white; padding: 16px; font-size: 16px; border: none; }
.dropdown { position: relative; display: inline-block; }

div.көрме,div.мүлік,div.көлік,div.азық,div.кйім,div.заттар,div.құрлыс,div.тазарту,div.жиһаз,div.білім,div.жануар,div.қызмет {
  font-size: 12px;
  display: none;
  position: absolute;
  background-color: rgba(227, 217, 186, 0.8196078431372549);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #e3d9bab3;
  z-index: 1; }
div.көрме a,div.мүлік a,div.көлік a,div.азық a,div.кйім a,div.заттар a,div.құрлыс a,div.тазарту a,div.жиһаз a,div.білім a,div.жануар a,div.қызмет a {
  color: #917c5a;
  padding: 4px 7px;
  text-decoration: none;
  display: block; }
div.көрме a:hover,div.мүлік a:hover,div.көлік a:hover,div.азық a:hover,div.кйім a:hover,div.заттар a:hover,div.құрлыс a:hover,div.тазарту a:hover,div.жиһаз a:hover,div.білім a:hover,div.жануар a:hover,div.қызмет a:hover {background-color: rgba(186, 169, 13, 0.43137254901960786);}
.dropdown:hover div.көрме,.dropdown:hover div.мүлік,.dropdown:hover div.көлік,.dropdown:hover div.азық,.dropdown:hover div.кйім,.dropdown:hover div.заттар,.dropdown:hover div.құрлыс,.dropdown:hover div.тазарту,.dropdown:hover div.жиһаз,.dropdown:hover div.білім,.dropdown:hover div.жануар,.dropdown:hover div.қызмет {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
