RewriteEngine On
Options +FollowSymlinks
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteCond   %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^.*$ $0.html [L,QSA]
RewriteCond %{THE_REQUEST} ([^\s]*)\.html(\?[^\s]*)?
RewriteRule (.*) %1 [R=301,L]

RewriteRule ^adamdar$ index.html [QSA,L]
RewriteRule ^bolme-gimarat-jobalar$ bolme-gimarat-jobalar.html [QSA,L]
RewriteRule ^garyh-tylsym-alem$ garyh-tylsym-alem.html [QSA,L]
RewriteRule ^gylder$ gylder.html [QSA,L]
RewriteRule ^osimdikter$ osimdikter.html [QSA,L]
RewriteRule ^kalyptalgan-keskinder$ kalyptalgan-keskinder.html [QSA,L]
RewriteRule ^koldanys-zattary$ koldanys-zattary.html [QSA,L]
RewriteRule ^januarlar$ januarlar.html [QSA,L]
RewriteRule ^oner-bilim-sport$ oner-bilim-sport.html [QSA,L]
RewriteRule ^art-education-sports$ art-education-sports.html [QSA,L]
RewriteRule ^san-ylgileri$ san-ylgileri.html [QSA,L]
RewriteRule ^tabigat$ tabigat.html [QSA,L]
RewriteRule ^pater$ pater.html [QSA,L]
RewriteRule ^jer-telim$ jer-telim.html [QSA,L]
RewriteRule ^yi$ yi.html [QSA,L]
RewriteRule ^elmeken$ elmeken.html [QSA,L]

AddType image/svg+xml svg
AddType image/svg+xml svgz
AddEncoding x-gzip .svgz

svg     Content-Type: image/svg+xml
svgz    Content-Type: image/svg+xml
        Content-Encoding: gzip

<system.webServer>
    <rewrite>
        <outboundRules>
            <rule name="Rewrite SVGZ header" preCondition="IsSVGZ" stopProcessing="true">
                <match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
                <action type="Rewrite" value="gzip" />
            </rule>
            <preConditions>
                <preCondition name="IsSVGZ">
                    <add input="{PATH_INFO}" pattern="\.svgz$" />
                </preCondition>
            </preConditions>
        </outboundRules>
    </rewrite>
    <staticContent>
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
    </staticContent>
</system.webServer>
