RewriteEngine On
Options +FollowSymlinks
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteCond   %{REQUEST_FILENAME} !-f


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^.*$ $0.html [L,QSA]
RewriteCond %{THE_REQUEST} ([^\s]*)\.html(\?[^\s]*)?
RewriteRule (.*) %1 [R=301,L]


RewriteRule ^адамдар$ index.html [QSA,L]
RewriteRule ^бөлме-ғимарат-жобалар$ bolme-gimarat-jobalar.php [QSA,L]
RewriteRule ^ғарыш-тылсым-әлем$ garyh-tylsym-alem.php [QSA,L]
RewriteRule ^гүлдер$ gylder.php [QSA,L]
RewriteRule ^жеміс-жидек-өсімдік-ағаштар$ jemis-jidek-osimdik-agahtar.php [QSA,L]
RewriteRule ^қалыпталған-кескіндер$ kalyptalgan-keskinder.php [QSA,L]
RewriteRule ^қолданыс-заттары-құрылғы-құралдар$ koldanys-zattary-kyrylgy-kyraldar.php [QSA,L]
RewriteRule ^құс-жануар-жәндік-балықтар$ kys-januar-jandik-balyktar.php [QSA,L]
RewriteRule ^өнер-білім-спорт$ oner-bilim-sport.php [QSA,L]
RewriteRule ^сән-үлгілері$ san-ylgileri.php [QSA,L]
RewriteRule ^табиғат$ tabigat.html [QSA,L]
