RewriteEngine On
Options +FollowSymlinks
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteCond   %{REQUEST_FILENAME} !-f


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^.*$ $0.html [L,QSA]
RewriteCond %{THE_REQUEST} ([^\s]*)\.html(\?[^\s]*)?
RewriteRule (.*) %1 [R=301,L]


RewriteRule ^adamdar$index.html [QSA,L]
RewriteRule ^bolme-gimarat-jobalar$ bolme-gimarat-jobalar.html [QSA,L]
RewriteRule ^garyh-tylsym-alem$ garyh-tylsym-alem.html [QSA,L]
RewriteRule ^gylder$ gylder.html [QSA,L]
RewriteRule ^jemis-osimdik-agahtar$ jemis-osimdik-agahtar.html [QSA,L]
RewriteRule ^kalyptalgan-keskinder$ kalyptalgan-keskinder.html [QSA,L]
RewriteRule ^kyrylgy-kyral-koldanys-zattary$ kyrylgy-kyral-koldanys-zattary.html [QSA,L]
RewriteRule ^kys-januar-jandik-balyktar$ kys-januar-jandik-balyktar.html [QSA,L]
RewriteRule ^oner-bilim-sport$ oner-bilim-sport.html [QSA,L]
RewriteRule ^san-ylgileri$ san-ylgileri.html [QSA,L]
RewriteRule ^tabigat$ tabigat.html [QSA,L]
